{% extends 'base.html' %}

{% block body_class %}inner-page{% endblock %}

{% block title %}{{ project.title }}{% endblock %}

{% block content %}

<div class="container project-detail">

    <h1>{{ project.title }}</h1>

    <p class="project-description">{{ project.description }}</p>

    {% if project.location %}
        <p class="project-location">
            <strong>Локация:</strong> {{ project.location }}
        </p>
    {% endif %}

    <h3 class="project-gallery-title">Фотографии:</h3>

    <!-- главное фото -->
    {% if project.images.first %}
        <div class="main-image-block">
            <img src="{{ project.images.first.image.url }}" class="main-image clickable-img">

            {% if project.images.first.caption %}
                <p class="image-caption">
                    {{ project.images.first.caption }}
                </p>
            {% endif %}
        </div>
    {% endif %}

    <!-- галерея -->
    <div class="project-gallery">
        {% for image in project.images.all %}
            {% if not forloop.first %}
                <div class="gallery-item">
                    <img src="{{ image.image.url }}" class="clickable-img">
                    {% if image.caption %}
                        <p class="image-caption">{{ image.caption }}</p>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <br>
    <a href="{% url 'project_list' %}">← Назад к проектам</a>

</div>

<div id="lightbox" class="lightbox">
    <span class="lightbox-close">&times;</span>
    <img class="lightbox-img" src="">
</div>

{% endblock %}