{% extends 'base.html' %}

{% block title %}Контакты{% endblock %}

{% block body_class %}inner-page{% endblock %}

{% block content %}

<div class="container contacts-page">

    <h1 class="contacts-title">Контакты</h1>

    <div class="contacts-card">

        <p class="contacts-name">Владимир</p>

        <a href="tel:+79612680008" class="contacts-phone">
            8 (961) 268-00-08
        </a>

        <!-- мессенджеры -->
        <div class="contacts-messengers">

            <a href="https://wa.me/79612680008"
            target="_blank"
            class="contact-social whatsapp">

                <i class="fa-brands fa-whatsapp"></i>

                <span>WhatsApp</span>
            </a>

            <a href="https://t.me/USERNAME"
            target="_blank"
            class="contact-social telegram">

                <i class="fa-brands fa-telegram"></i>

                <span>Telegram</span>
            </a>

        </div>

        <!-- соцсети -->
        <div class="contacts-socials">

            <h2 class="contacts-socials-title">
                Следите за нашими проектами
            </h2>

            <div class="contacts-socials-links">

                <a href="https://instagram.com/..."
                    target="_blank"
                    class="social-card instagram-link">

                    <svg xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round">

                        <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                        <path d="M16 11.37a4 4 0 1 1-7.75 1.26 4 4 0 0 1 7.75-1.26z"></path>
                        <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>

                    </svg>

                    <span>Instagram</span>

                </a>

                <a href="https://t.me/..."
                   target="_blank"
                   class="social-card">

                    <i data-lucide="send"></i>
                    <span>Telegram-канал</span>

                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}