{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Строительная компания{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="{% block body_class %}{% endblock %}">

<header class="header">
    <div class="container">
        <div class="header-inner">

            <a href="/" class="logo">
                <img src="{% static 'images/logo.png' %}" alt="KOSTIN.STROY">
                <span class="logo-name">KOSTIN.STROY</span>
            </a>
            <div class="burger">
                ☰
            </div>

            <nav class="nav">
                <a href="/" class="nav-link">Главная</a>
                <a href="/projects/" class="nav-link">Проекты</a>
                <a href="#" class="nav-link">Услуги</a>
                <a href="#" class="nav-link">О компании</a>
                <a href="{% url 'contacts' %}" class="nav-link">Контакты</a>

                <div class="mobile-contacts">

                    <a href="tel:+79612680008" class="mobile-phone">
                        8 (961) 268-00-08
                    </a>

                    <div class="mobile-messengers">
                        <a href="https://wa.me/79612680008" target="_blank">
                            <i data-lucide="message-circle"></i>
                        </a>

                        <a href="https://t.me/" target="_blank">
                            <i data-lucide="send"></i>
                        </a>
                    </div>

                </div>
            </nav>

            <div class="header-contacts">

                <a href="tel:+79612680008" class="phone">
                    8 (961) 268-00-08
                </a>

                <a href="https://wa.me/79612680008" target="_blank" class="messenger-header">
                    <i data-lucide="message-circle"></i>
                </a>

                <a href="https://t.me/" target="_blank" class="messenger-header">
                    <i data-lucide="send"></i>
                </a>

            </div>

        </div>
    </div>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <div class="container">
        <p>© 2026</p>
    </div>
</footer>

<script src="https://unpkg.com/lucide@latest"></script>
<script>
  lucide.createIcons();
</script>

<script>
    const burger = document.querySelector('.burger');
    const nav = document.querySelector('.nav');

    burger.addEventListener('click', () => {
        nav.classList.toggle('active');
    });
</script>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const images = document.querySelectorAll(".clickable-img");
    const lightbox = document.getElementById("lightbox");
    const lightboxImg = document.querySelector(".lightbox-img");
    const close = document.querySelector(".lightbox-close");

    images.forEach(img => {
        img.addEventListener("click", () => {
            lightbox.style.display = "block";
            lightboxImg.src = img.src;
        });
    });

    close.addEventListener("click", () => {
        lightbox.style.display = "none";
    });

    lightbox.addEventListener("click", () => {
        lightbox.style.display = "none";
    });
});
</script>

</body>
</html>